@model Release_1.Models.RoutesViewModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(c => c.route.route_id)

    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>route_bd</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.route.route_name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.route.route_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.route.route_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.route.route_from_country, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.route.route_from_country, new SelectList(Model.countries, "country_id", "country_name")
                               , new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.route.route_from_country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.route.route_from_city, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.route.route_from_city, new SelectList(Model.cities, "city_id", "city_name")
                                               , new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.route.route_from_city, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.route.route_to_country, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.route.route_to_country, new SelectList(Model.countries, "country_id", "country_name")
                                               , new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.route.route_to_country, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.route.route_to_city, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.route.route_to_city, new SelectList(Model.cities, "city_id", "city_name")
                                                               , new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.route.route_to_city, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.route.route_state, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.route.route_state, new List<SelectListItem>
                                           {
                                               new SelectListItem {Text = "Active", Value = "1"},
                                               new SelectListItem {Text = "InActive", Value = "0"}
                                           }
                                               , new { htmlAttributes = new { @class = "form-control" } })                @Html.ValidationMessageFor(model => model.route.route_state, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Create" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            }

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
