@model Release_1.Models.RoutesViewModel





@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.5 -->
        <link rel="stylesheet" href="~/Content/Admin/bootstrap/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <!-- Content Header (Page header) -->
        <h2>
            Route Form
            <small>Preview</small>
        </h2>
        <div class="form-group">
            <label for="exampleInputRoute1">Route Name</label>
            @Html.TextBoxFor(model => model.route.route_name, new { @class = "form-control", @placeholder = "Enter Route Name" })

        </div>
        <label>Route State</label>
        <div class="radio">
            <div class="radio">
                <label> @Html.RadioButtonFor(model => model.route.route_state, "1") Active </label>
                <br />
                <label> @Html.RadioButtonFor(model => model.route.route_state, "0") Inactive </label>
            </div>
            <div class="form-group">
                <label>Country: From</label>
                @Html.DropDownListFor(model => model.route.route_from_country, new SelectList(Model.countries, "country_id", "country_name", @"form-control"), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Country: To</label>
                @Html.DropDownListFor(model => model.route.route_to_country, new SelectList(Model.countries, "country_id", "country_name")
                                           , new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>City: From</label>
                @Html.DropDownList("cities", new SelectList(Model.cities, "city_id", "city_name"), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>City: To</label>
                @Html.DropDownListFor(model => model.route.route_to_city, new SelectList(Model.cities, "city_id", "city_name")
                                                                           , new { @class = "form-control" })
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
    </body>
}