@model Release_1.country_bd




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.5 -->
        <link rel="stylesheet" href="~/Content/Admin/bootstrap/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <!-- Content Header (Page header) -->
        <h2>
            Country Form
            <small>Preview</small>
        </h2>
        <div class="form-group">
            <label for="exampleInputCountry1">Country Name</label>
            @Html.TextBoxFor(model => model.country_Name, new { @class = "form-control", @placeholder = "Enter Country Name" })
        </div>
        <div class="form-group">
            <label for="exampleInputCountryCode1">Country Code</label>
            @Html.TextBoxFor(model => model.country_code, new { @class = "form-control", @placeholder = "Enter Country Code" })
        </div>
        <label>Country State</label>
        <div class="radio">
            <label> @Html.RadioButtonFor(model => model.country_state, "1") Active </label>
            <label> @Html.RadioButtonFor(model => model.country_state, "0") Inactive </label>
        </div>
        <div class="form-group">
            <label>Description</label>
            @Html.TextAreaFor(model => model.country_desc,
          new { @placeholder = "Write something here....", @rows = "3", @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Description</label>
            @Html.TextAreaFor(model => model.country_general_coditions,
          new { @placeholder = "Write something here....", @rows = "3", @class = "form-control" })
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </body>
}