@model IEnumerable<Release_1.country_bd>

@{
    ViewBag.Title = "Get";
}

<h2>Get</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.country_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country_code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country_state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country_general_coditions)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.country_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country_code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country_state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country_general_coditions)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.country_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.country_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.country_id })
        </td>
    </tr>
}

</table>
