@model Release_1.Models.CityViewModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <!-- Bootstrap 3.3.5 -->
        <link rel="stylesheet" href="~/Content/Admin/bootstrap/css/bootstrap.min.css">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body class="hold-transition skin-blue sidebar-mini">
        <!-- Content Header (Page header) -->
        <h2>
            City Form
            <small>Preview</small>
        </h2>
        <div class="form-group">
            <label for="exampleInputCity1">City Name</label>
            @Html.TextBoxFor(model => model.city.city_name, new { @class = "form-control", @placeholder = "Enter City Name" })
        </div>
        <div class="form-group">
            <label for="exampleInputCityCode1">City Code</label>
            @Html.TextBoxFor(model => model.city.city_code, new { @class = "form-control", @placeholder = "Enter City Name" })
        </div>
        <label>City State</label>
        <div class="radio">
            <label> @Html.RadioButtonFor(model => model.city.city_state, "1") Active </label>
            <label> @Html.RadioButtonFor(model => model.city.city_state, "0") Inactive </label>
        </div>
        <div class="form-group">
            <label>City country id</label>
            @Html.DropDownListFor(model => model.city.city_country_id, new SelectList(Model.active_countries, "country_id", "country_name")
                   , new { @id = "Country", @name = "Country", @class = "form-control" })
        </div>
        <div class="form-group">
            <label>Description</label>
            @Html.TextAreaFor(model => model.city.city_desc,
         new { @placeholder = "Write something here....", @rows = "3", @class = "form-control" })
        </div>
        <div class="form-group">
            <label>General Conditions</label>
            @Html.TextAreaFor(model => model.city.city_general_conditions,
                     new { @placeholder = "Write something here....", @rows = "3", @class = "form-control" })
        </div>
        <div class="state">
            <label for="subject">Do you want it pick up?</label>
            <div class="state">
                <label> @Html.RadioButtonFor(model => model.city.is_pickup, "1") Yes </label>
                <label> @Html.RadioButtonFor(model => model.city.is_pickup, "0") No </label>

            </div>
        </div>

        <div class="state">
            <label for="subject">Do you want it delivery?</label>
            <div class="state">
                <label> @Html.RadioButtonFor(model => model.city.is_delivery, "1") Yes </label>
                <label> @Html.RadioButtonFor(model => model.city.is_delivery, "0") No </label>

            </div>
        </div>
        <div class="box-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </body>
}